// Color tokens reflected from the HUK24 tokens in figma
// -----------------------------------------------------------------------------
$theme-map-colors-huk24: (
  /* BACKGROUND */
  $--background-base: #ffffff,
  $--background-base-dark: #35444c,
  $--background-primary: #fba308,
  $--background-secondary: #f7f7f8,
  $--background-tertiary: #fef1da,
  $--background-alternative: #e7e9ea,
  $--background-emphasized: #fef1da,
  $--background-footer: #ffffff,
  $--background-tint: #e0f7f8,
  $--background-success: #e0ffe1,
  $--background-notification-base-dark: #35444c,
  $--background-notification-success: #e0ffe1,
  $--background-notification-error: #ffe9ec,
  $--background-icon: #eef0f1,
  $--background-dropdown-hover: #eef0f1,
  $--background-light: #fcfdfe,
  $--background-teaser: #008b97,
  $--background-pitstop: #1a2d58,
  $--background-pws: #272f32,
  $--background-variant: #35444c,
  $--background-gradient: linear-gradient(90deg, #fffdf8 5.47%, #fef7db 96.34%),
  /* TEXT */
  $--text-base: #35444c,
  $--text-alternate: #68747a,
  $--text-shade: #263238,
  $--text-tertiary: #fb9105,
  $--text-inverted: #ffffff,
  $--text-tint: #14b9c8,
  $--text-success: #00bf3b,
  $--text-error: #c92a2a,
  $--text-disabled: #808a90,
  $--text-meta: #97a0a5,
  $--text-negative: #ffffff,
  /* INTERACT */
  $--interact-selected-enabled: #fba308,
  $--interact-selected-hover: #fb9105,
  $--interact-selected-pressed: #f0670a,
  $--interact-selected-focused: #fba308,
  $--interact-selected-disabled: #e7e9ea,
  $--interact-unselected-enabled: #b0b6ba,
  $--interact-unselected-hover: #97a0a5,
  $--interact-unselected-pressed: #808a90,
  $--interact-unselected-focused: #0395a1,
  $--interact-unselected-disabled: #e7e9ea,
  /* BUTTONS */
  $--button-enabled-primary: #a3f5b7,
  $--button-enabled-secondary: #00abba,
  $--button-disabled: #cbcfd2,
  $--button-hover: #0395a1,
  $--button-pressed: #055e5f,
  $--button-border-focused: #0395a1,
  $--button-primary-text: #ffffff,
  $--button-primary-text-disabled: #808a90,
  $--button-secondary-text: #35444c,
  $--button-secondary-border: #68747a,
  $--button-secondary-border-disabled: #b0b6ba,
  $--button-secondary-border-hover: #35444c,
  $--button-secondary-border-pressed: #000000,
  $--button-tertiary-text: #14b9c8,
  $--button-error-default: #c92a2a,
  $--button-error-hover: #ad2626,
  $--button-error-pressed: #8e0000,
  /* NOT IN FIGMA */
  $--button-secondary-hover: #263238,
  $--button-secondary-pressed: #263238,
  /* FIELDS */
  $--field-enabled: #b0b6ba,
  $--field-disabled: #cbcfd2,
  $--field-hover: #808a90,
  $--field-pressed: #35444c,
  $--field-focused: #0395a1,
  $--field-error: #c92a2a,
  $--field-success: #00bf3b,
  /* UI */
  $--ui-enabled: #35444c,
  $--ui-disabled: #cbcfd2,
  $--ui-shade: #263238,
  $--ui-tint: #14b9c8,
  $--ui-tint-shade: #055e5f,
  /* GENERAL */
  $--ui-separator: #eef0f1,
  $--ui-modal-background-overlay: rgba(0, 0, 0, 50%),
  $--ui-overlay-transparent: transparent,
  $--ui-overlay-opaque: #35444c,
  /* BORDER */
  $--border-base: #000000,
  $--border-primary: #cbcfd2,
  $--border-secondary: #e7e9ea,
  $--border-selected: #fba308,
  $--border-notification-basic: #000000,
  $--border-notification-success: #d1f1d2,
  $--border-notification-error: #f3dadd,
  /* ICON */
  $--icon-default: #b0b6ba,
  $--icon-base: #35444c,
  $--icon-alternative: #68747a,
  $--icon-inverted: #ffffff,
  $--icon-tertiary: #fba308,
  $--icon-tertiary-inverted: #ffffff,
  $--icon-tint: #14b9c8,
  $--icon-primary-success: #00bf3b,
  $--icon-primary-error: #c92a2a,
  $--icon-emphasized: #fba308,
  $--icon-rating: #faba39,
  $--icon-shade: #263238,
);
