// z-index properties
// -----------------------------------------------------------------------------

$layer-autocomplete: 1;
$layer-header: 40;
$layer-flow-navigation: 45;
$layer-popover: 50;
$layer-modal-overlay: 51;
$layer-modal: 52;
$layer-footer: 53;
$layer-dropdown: 59;
$layer-tooltip: 60;
$layer-notifications: 61;
