$--font-sans: --font-sans;

$--font-size-xs: --font-size-xs;
$--font-size-sm: --font-size-sm;
$--font-size-base: --font-size-base;
$--font-size-md: --font-size-md;
$--font-size-lg: --font-size-lg;
$--font-size-xl: --font-size-xl;
$--font-size-2xl: --font-size-2xl;
$--font-size-3xl: --font-size-3xl;

$--font-weight-normal: --font-weight-normal;
$--font-weight-bold: --font-weight-bold;

$--font-style-italic: --font-style--italic;
$--font-style-normal: --font-style--normal;

$--font-spacing-normal: --font-spacing-normal;
$--font-spacing-wider: --font-spacing-wider;

$--font-height-none: --font-height-none;
$--font-height-tight: --font-height-tight;
$--font-height-snug: --font-height-snug;
$--font-height-normal: --font-height-normal;
$--font-height-relaxed: --font-height-relaxed;

$--font-transform-none: --font-transform-none;
$--font-transform-uppercase: --font-transform-uppercase;
