$theme-map-texts-theme-2: ($--font-sans: ("Moderat", sans-serif),
  $--font-size-base: 16px,
  $--font-size-xs: 0.81rem,
  $--font-size-sm: 1rem,
  $--font-size-md: 1.25rem,
  $--font-size-lg: 1.5rem,
  $--font-size-xl: 2rem,
  $--font-size-2xl: 2.5rem,
  $--font-size-3xl: 4rem,
  $--font-weight-normal: 400,
  $--font-weight-bold: 700,
  $--font-style-italic: italic,
  $--font-style-normal: normal,
  $--font-spacing-normal: 0,
  $--font-spacing-wider: 0,
  $--font-height-none: 1,
  $--font-height-tight: 1.2,
  $--font-height-snug: 1.3,
  $--font-height-normal: 1.4,
  $--font-height-relaxed: 1.5,
  $--font-transform-none: none,
  $--font-transform-uppercase: uppercase,
);